html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;  
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgb(6, 28, 153) 0%, rgb(7, 135, 190) 100%);
    color: #fff;
}      

button {
    background: #7300ff;
    color: #fff;
    padding: 0 45px;
    border: 2px solid #fff;
    border-radius: 25px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    background: #9c00ff;
}